<header>
	<pre class="ascii logo"><pre>
	<pre class="ascii name">
________________/\\\______________________________________________/\\\_________________/\\\_________        
 _______________\/\\\_____________________________________________\/\\\________________\/\\\_________       
  _______________\/\\\_____________________________________________\/\\\________________\/\\\_________      
   _____/\\\\\\\\_\/\\\__________/\\\\\\\\\_____/\\\\\\\\\\\________\/\\\___/\\\____/\\\_\/\\\_________     
    ___/\\\//////__\/\\\\\\\\\\__\////////\\\___\///////////____/\\\\\\\\\__\/\\\___\/\\\_\/\\\\\\\\\\__    
     __/\\\_________\/\\\/////\\\___/\\\\\\\\\\_________________/\\\////\\\__\/\\\___\/\\\_\/\\\/////\\\_   
      _\//\\\________\/\\\___\/\\\__/\\\/////\\\________________\/\\\__\/\\\__\/\\\___\/\\\_\/\\\___\/\\\_  
       __\///\\\\\\\\_\/\\\___\/\\\_\//\\\\\\\\/\\_______________\//\\\\\\\/\\_\//\\\\\\\\\__\/\\\___\/\\\_ 
        ____\////////__\///____\///___\////////\//_________________\///////\//___\/////////___\///____\///__
</pre>
</header>
